db.hostname=localhost
db.port=3306
db.database=database
db.username=root
db.password=
db.params=?useTimezone=true&serverTimezone=UTC
db.pool.minsize=25
db.pool.maxsize=100


net.boss.threads=1
net.worker.threads=5